@media (max-width:700px) {



    .left-th {
        display: flex;
        width: 150px !important;
    }

    caption {
        font-size: 22px;
        margin: 20px 0 20px;
        margin-left: 20px;
    }
}





@media (max-width:500px) {


    .banner h2 {
        font-size: 18px !important;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
        color: #fff;
    }

    .left-th {
        display: flex;
        width: 125px !important;
    }

    caption {
        font-size: 20px;
        margin: 20px 0 20px;
        margin-left: 20px;
    }



    .time {
        font-size: 15px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
        color: #43A475;
    }

    h3 {
        font-size: 17px;

    }


    .adres {
        font-size: 12px;
    }


    .midle__text {
        font-size: 13px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
        color: #272727;
    }

    h4 {
        font-size: 15px;
        font-weight: 700;
        line-height: 20px;
        text-align: left;
        color: #272727;

    }
}


@media (max-width:500px) {

    .banner {
      padding:20px 10px;
    }
    .logo {
        margin: 10px 10px;
    }
    caption {
        font-size: 17px;
        margin: 10px 0 10px;
        margin-left: 10px;
    }

    .banner h2 {
        font-size: 15px !important;
        font-weight: 600;
        line-height: 24px;
        text-align: left;
        color: #fff;
    }

    .banner p {
        font-size: 13px;
        font-weight: 300;
        line-height: 20px;
        letter-spacing: 0.0015em;
        text-align: left;
        color: #fff;

    }
    table {
        margin: 20px 0 !important;
        padding-left:   10px;
        max-width: 100%;
    }

    hr {
        margin-right: 10px;
    }
    
    .footer-hr {
        border-bottom: 0;
        margin: 40px 10px 0;
    
    
    }


    .register_btn {

        font-size: 14px;
        font-weight: 600;
        line-height: 22px;

    }

    .footer__text {
        font-size: 14px;

    }

    .footer__text a {
        color: #5788DB;
        font-size: 13px;
    }

    .top-text {
        font-size: 20px;
        margin-left: 10px;
    }
    .top-text-p {
        font-size: 14px;
        margin-left: 10px;
    
    }
    .top-hr {
        margin-bottom: 0;
        margin: 30px 10px;
    }
.middle-text-cont {
    padding: 10px;
}
}




@media (max-width:350px) {



    .banner h2 {
        font-size: 15px !important;
        font-weight: 600;
        line-height: 24px;
        text-align: left;
        color: #fff;
    }

    .banner p {
        font-size: 13px;
        font-weight: 300;
        line-height: 20px;
        letter-spacing: 0.0015em;
        text-align: left;
        color: #fff;

    }



    .register_btn {

        font-size: 14px;
        font-weight: 600;
        line-height: 22px;

    }

    .footer__text {
        font-size: 14px;

    }

    .footer__text a {
        color: #5788DB;
        font-size: 13px;
    }
}